.Checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Checkbox p {
    width: 45%;
}

.inputBox{
    display: flex;
    flex-direction: row;
    align-items: center;  
    width:45%;
}

.inputBox input{
    width:33%;
}