.Choices{
    width:80%;
    display: flex;
    flex-direction: column;
}

.Titles{
    color: white;
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
} 
.Titles p{
    width:33%;
    text-align: center;
}
.Characters{
    display: flex;
    flex-direction: row;  
}
.Characters p{
    width:33%;
    text-align: center;
}

.Choices .Titles:nth-of-type(2) p{
    width:50%;
}