.Selection{
    width:80%;
    display: flex;
    flex-direction: column;
}

.Titles{
    width: 100%;
    color: white;
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
.Titles div{
    width:45%;
}

.Titles div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}
.Titles div:nth-of-type(2) p{
    width:33%;
    text-align: center;
}